.catalog{
  padding: 53px 37px 0 35px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 37px;
}

.catalog__zeropage{
  width: 100%;
  grid-column: 1/5;
}